@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);

body
{
    font-family: 'Happy Monkey', cursive;
    font-size:16px;
}
.hero-unit
{
    padding:50px 0;
}

.pic img
{
    width:95%;
    height:auto;
}
.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.navbar, .navbar-inner{
     background:#51a351;
    color:#FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .brand, .footer
{
    background:#51a351;
    color:#FFFFFF;
}
.footer a
{
	color:#fff;
}
.navbar-inner
{
    background:#51a351;
    color:#FFFFFF;
}
.navbar .nav>li>a
{
    color:#FFFFFF;
}
.navbar .nav>li>a:hover
{
    color:#bbb;
}

.pic
{
    text-align: center;
}

.pic img
{
    max-width: 400px;
    height: auto;
}

.bio
{
	height:auto;
}
.tilt
{
    border:10px solid #FFFFCC;
}

#About h1{
    text-align:left;
}
h1{
    text-align:center;
}

.span4 a
{
    text-align:center;
}
.btn-large
{
    font-size: 1.2em;
    padding:1em 2.35em 1em 2.35em;
}
.services-icon, .service
{
    text-align:center;
}
.services-icon, .address-icon
{
    color: #51a351;
}

.project
{
    text-align:center;
}
.project img
{
    max-width: 200px;
    width:90%;
    height: auto;
    border: 2px solid #51a351;
}

input[type=text]
{
    width:80%;
}
textarea{
    width:80%;
    height:100px;
}

@media screen and (min-width: 1280px) {
.tilt
{
	border:10px solid #FFFFCC;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(-15deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-15deg);
    /* Opera */
    -o-transform:rotate(-15deg);
    /* IE9 */
    -ms-transform:rotate(-15deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 

}
	   h1{
			font-size:34px;
			margin-bottom:80px;
		}
		body
		{
		font-size:16px;
		}
		.row-fluid
        {
        	margin:50px 0;
        }
        .hero-unit h1, .bio h1 {
            font-size:60px;
        }
        .lead{
            font-size:40px;
        }
        .bio p{
            font-size:18px;
        }
}

@media screen and (max-width: 800px) {
        .tilt
        {
        	border:5px solid #FFFFCC;
        	-moz-transform:rotate(-1deg);
            /* Safari and Chrome */
            -webkit-transform:rotate(-1deg);
            /* Opera */
            -o-transform:rotate(-1deg);
            /* IE9 */
            -ms-transform:rotate(-1deg);
           
        }

        .hero-unit h1, .bio h1, h1{
			font-size:24px;
			margin-bottom:50px;
		}
		body
		{
		font-size:16px;
		}
		.row-fluid
		{
			margin:30px 0;
		}
		
        .lead{
            font-size:24px;
        }
        .bio p{
                font-size:16px;
        }
		
}
@media only screen and (max-device-width: 480px) 
{
       
		body
		{
		  font-size:14px;
		}
		h1{
			font-size:20px;
			margin-bottom:20px;
		}
		.row-fluid
		{
			margin:15px 0;
		}
		.hero-unit h1, .bio h1 {
            font-size:22px;
        }
        .lead{
            font-size:18px;
        }
        .bio p{
            font-size:14px;
        }
}

@media only screen and (max-device-width: 320px) 
{
    .bio
    {
        padding:5px;
    }
    .hero-unit h1, .bio h1
    {
        font-size:20px;
    }
	body
	{
	  font-size:14px;
	}
	h1{
		font-size:20px;
		margin-bottom:20px;
	}
	.row-fluid
	{
		margin:15px 0;
	}
	.bio h1 
    {
        font-size:22px;
    }
    .lead
    {
        font-size:18px;
    }
    .bio p
    {
        font-size:14px;
    }
}